.header-md::after {
    background-image: none;
    z-index: 1;
}

.logo {
    margin: 1rem 2rem;
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
    height: 100px;
}

.searchbar-container {
    padding-top: 0.5rem;
    width: 50%;
    max-height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    right: 0;
}

ion-header {
    margin-bottom: 5rem;
}

@media only screen and (min-width: 1200px) {
    .searchbar-container {
        right: 20vw;
    }
}

@media only screen and (max-width: 580px) {
    .header-content {
        flex-direction: column !important;
        padding-bottom: 3rem;
    }
    .header-content img {
        max-width: 100px;
    }
    .header-content .searchbar-container {
        padding-top: 70px;
        width: 100%;
        margin: auto;
    }
    ion-header {
        margin-bottom: 8rem;
    }
}
