ion-searchbar,
searchbar-input {
    display: block !important;
    border: none;
    min-height: 60px;
    padding-left: 30px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-tertiary) !important;
    text-align: left;
    outline: none;
    width: 100%;
    box-shadow: none;
}

.sc-ion-searchbar-md-h {
    background: none;
    border-radius: none;
    box-shadow: none;
    cancel-button-color: none;
    clear-button-color: initial;
    color: none;
    icon-color: none;
}

ion-searchbar input {
    background: rgba(255, 255, 255, 0.01) !important;
    box-shadow: var(--glass-input-primary) !important;
    -webkit-box-shadow: var(--glass-input-primary) !important;
    border-radius: 50px !important;
    min-height: 60px;
}

ion-searchbar ion-icon {
    color: var(--ion-color-tertiary) !important;
    top: 20px !important;
}

.search-results {
    margin-top: 10px;
    margin-bottom: -200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-width: 445px;
}

.search-results .result {
    padding-left: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.search-results .result:hover {
    cursor: pointer;
    background: rgba(var(--ion-color-primary-rgb), 0.2);
}

.search-results .no-result {
    max-width: 100%;
    padding-left: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .search-results {
        max-width: 98vw;
    }
}
