/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #dbdbdb;
    --ion-color-primary-rgb: 219,219,219;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #c1c1c1;
    --ion-color-primary-tint: #dfdfdf;

    --ion-color-secondary: #ffaf5c;
    --ion-color-secondary-rgb: 255,175,92;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #e09a51;
    --ion-color-secondary-tint: #ffb76c;

    --ion-color-tertiary: #7dfaff;
    --ion-color-tertiary-rgb: 125,250,255;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #6edce0;
    --ion-color-tertiary-tint: #8afbff;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45,211,111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #34343a;
    --ion-color-dark-rgb: 52,52,58;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #2e2e33;
    --ion-color-dark-tint: #48484e;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-light: rgba(0, 121, 211, 1);
    --ion-color-light-rgb: 0, 121, 211;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: rgba(2, 95, 153, 1);
    --ion-color-light-tint: rgba(0, 121, 211, 0.8);

    /** Gradients **/

    --ion-gradient-primary: linear-gradient(
        90deg,
        #0079d3 0%,
        #00c9ff 100%
    );
    --ion-gradient-secondary: linear-gradient(
        90deg,
        #ff8c3f 0%,
        #ff9547 37.4%,
        #ffaf5c 99.41%,
        #ffaf5c 100%
    );

    /** Glass Effects **/
    --glass-primary: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
        inset 0px 1px 4px 0px rgba(var(--ion-color-primary-rgb), 0.3),
        inset 0px -82px 68px -64px rgba(var(--ion-color-primary-rgb), 0.3),
        inset 0px 98px 100px -48px rgba(var(--ion-color-primary-rgb), 0.3),
        inset 0px 4px 18px 0px rgba(var(--ion-color-primary-rgb), 0.3),
        inset 0px 1px 40px 0px rgba(var(--ion-color-primary-rgb), 0.2);

    --glass-secondary: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
        inset 0px 1px 4px 0px rgba(var(--ion-color-secondary-rgb), 0.3),
        inset 0px -82px 68px -64px rgba(var(--ion-color-secondary-rgb), 0.3),
        inset 0px 98px 100px -48px rgba(var(--ion-color-secondary-rgb), 0.3),
        inset 0px 4px 18px 0px rgba(var(--ion-color-secondary-rgb), 0.3),
        inset 0px 1px 40px 0px rgba(var(--ion-color-secondary-rgb), 0.2);

    --glass-tertiary: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
        inset 0px 1px 4px 0px rgba(var(--ion-color-tertiary-rgb), 0.3),
        inset 0px -82px 68px -64px rgba(var(--ion-color-tertiary-rgb), 0.3),
        inset 0px 98px 100px -48px rgba(var(--ion-color-tertiary-rgb), 0.3),
        inset 0px 4px 18px 0px rgba(var(--ion-color-tertiary-rgb), 0.3),
        inset 0px 1px 40px 0px rgba(var(--ion-color-tertiary-rgb), 0.2);

    --glass-light: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
        inset 0px 1px 4px 0px rgba(var(--ion-color-light-rgb), 0.3),
        inset 0px -82px 68px -64px rgba(var(--ion-color-light-rgb), 0.3),
        inset 0px 98px 100px -48px rgba(var(--ion-color-light-rgb), 0.3),
        inset 0px 4px 18px 0px rgba(var(--ion-color-light-rgb), 0.3),
        inset 0px 1px 40px 0px rgba(var(--ion-color-light-rgb), 0.2);

    --glass-input-primary: inset 0px -4px 4px 0px rgba(var(--ion-color-primary-rgb), 0.1),
        inset 0px 82px 68px -64px rgba(var(--ion-color-primary-rgb), 0.1),
        inset 0px -98px 100px -48px rgba(var(--ion-color-primary-rgb), 0.1),
        inset 0px -4px 18px 0px rgba(var(--ion-color-primary-rgb), 0.1),
        inset 0px -1px 40px 0px rgba(var(--ion-color-primary-rgb), 0.05);

    --glass-input-secondary: inset 0px -4px 4px 0px rgba(var(--ion-color-secondary-rgb), 0.1),
        inset 0px 82px 68px -64px rgba(var(--ion-color-secondary-rgb), 0.1),
        inset 0px -98px 100px -48px rgba(var(--ion-color-secondary-rgb), 0.1),
        inset 0px -4px 18px 0px rgba(var(--ion-color-secondary-rgb), 0.1),
        inset 0px -1px 40px 0px rgba(var(--ion-color-secondary-rgb), 0.05);

    --glass-input-tertiary: inset 0px -4px 4px 0px rgba(var(--ion-color-tertiary-rgb), 0.1),
        inset 0px 82px 68px -64px rgba(var(--ion-color-tertiary-rgb), 0.1),
        inset 0px -98px 100px -48px rgba(var(--ion-color-tertiary-rgb), 0.1),
        inset 0px -4px 18px 0px rgba(var(--ion-color-tertiary-rgb), 0.1),
        inset 0px -1px 40px 0px rgba(var(--ion-color-tertiary-rgb), 0.05);

    --glass-input-light: inset 0px -4px 4px 0px rgba(var(--ion-color-light-rgb), 0.1),
        inset 0px 82px 68px -64px rgba(var(--ion-color-light-rgb), 0.1),
        inset 0px -98px 100px -48px rgba(var(--ion-color-light-rgb), 0.1),
        inset 0px -4px 18px 0px rgba(var(--ion-color-light-rgb), 0.1),
        inset 0px -1px 40px 0px rgba(var(--ion-color-light-rgb), 0.05);

    /** Neon Effects **/
    --neon-primary: 0px 0px 18px rgba(var(--ion-color-primary-rgb), 0.4),
        0px 0px 70px rgba(var(--ion-color-primary-rgb), 0.4);
    --neon-primary-inset: inset 0px 0px 7px
        rgba(var(--ion-color-primary-rgb), 0.4);

    --neon-secondary: 0px 0px 18px rgba(var(--ion-color-secondary-rgb), 0.4),
        0px 0px 70px rgba(var(--ion-color-secondary-rgb), 0.4);
    --neon-secondary-inset: inset 0px 0px 7px
        rgba(var(--ion-color-secondary-rgb), 0.4);

    --neon-tertiary: 0px 0px 18px rgba(var(--ion-color-tertiary-rgb), 0.4),
        0px 0px 70px rgba(var(--ion-color-tertiary-rgb), 0.4);
    --neon-tertiary-inset: inset 0px 0px 7px
        rgba(var(--ion-color-tertiary-rgb), 0.4);

    --ion-toolbar-background: var(--ion-color-light);

    --ion-font-family: 'Rubik', sans-serif;

    --ion-background-color: var(--ion-color-light);
    --ion-background-color-rgb: 53, 52, 58;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
}

@media only screen and (prefers-color-scheme: dark) {
    /*
   * Dark Colors
   * -------------------------------------------
   */

    body {
        --ion-color-primary: rgba(0, 121, 211, 1);
        --ion-color-primary-rgb: 0, 121, 211;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: rgba(2, 95, 153, 1);
        --ion-color-primary-tint: rgba(0, 121, 211, 0.8);

        /** secondary **/
        --ion-color-secondary: rgba(255, 175, 92, 1);
        --ion-color-secondary-rgb: 255, 175, 92;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: rgba(255, 140, 63, 1);
        --ion-color-secondary-tint: rgba(255, 175, 92, 0.8);

        /** tertiary **/
        --ion-color-tertiary: rgba(125, 250, 255, 1);
        --ion-color-tertiary-rgb: 125, 250, 255;
        --ion-color-tertiary-contrast: rgba(53, 52, 58, 1);
        --ion-color-tertiary-contrast-rgb: 53, 52, 58;
        --ion-color-tertiary-shade: rgba(114, 244, 247, 1);
        --ion-color-tertiary-tint: rgba(125, 250, 255, 0.8);

        --ion-color-success: #2fdf75;
        --ion-color-success-rgb: 47, 223, 117;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #29c467;
        --ion-color-success-tint: #44e283;

        --ion-color-warning: #ffd534;
        --ion-color-warning-rgb: 255, 213, 52;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e0bb2e;
        --ion-color-warning-tint: #ffd948;

        --ion-color-danger: #ff4961;
        --ion-color-danger-rgb: 255, 73, 97;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #e04055;
        --ion-color-danger-tint: #ff5b71;

        /** dark **/
        --ion-color-dark: rgba(53, 52, 58, 1);
        --ion-color-dark-rgb: 53, 53, 58;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255, 255, 255;
        --ion-color-dark-shade: #1e2023;
        --ion-color-dark-tint: #383a3e;

        /** medium **/
        --ion-color-medium: #92949c;
        --ion-color-medium-rgb: 146, 148, 156;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #808289;
        --ion-color-medium-tint: #9d9fa6;

        /** light **/
        --ion-color-light: rgba(219, 219, 219, 1);
        --ion-color-light-rgb: 219, 219, 219;
        --ion-color-light-contrast: #1e2023;
        --ion-color-light-contrast-rgb: 30, 32, 35;
        --ion-color-light-shade: #d7d8da;
        --ion-color-light-tint: #f5f6f9;

        /** Glass Effects **/
        --glass-primary: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
            inset 0px 1px 4px 0px rgba(var(--ion-color-primary-rgb), 0.3),
            inset 0px -82px 68px -64px rgba(var(--ion-color-primary-rgb), 0.3),
            inset 0px 98px 100px -48px rgba(var(--ion-color-primary-rgb), 0.3),
            inset 0px 4px 18px 0px rgba(var(--ion-color-primary-rgb), 0.3),
            inset 0px 1px 40px 0px rgba(var(--ion-color-primary-rgb), 0.2);

        --glass-secondary: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
            inset 0px 1px 4px 0px rgba(var(--ion-color-secondary-rgb), 0.3),
            inset 0px -82px 68px -64px rgba(var(--ion-color-secondary-rgb), 0.3),
            inset 0px 98px 100px -48px rgba(var(--ion-color-secondary-rgb), 0.3),
            inset 0px 4px 18px 0px rgba(var(--ion-color-secondary-rgb), 0.3),
            inset 0px 1px 40px 0px rgba(var(--ion-color-secondary-rgb), 0.2);

        --glass-tertiary: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
            inset 0px 1px 4px 0px rgba(var(--ion-color-tertiary-rgb), 0.3),
            inset 0px -82px 68px -64px rgba(var(--ion-color-tertiary-rgb), 0.3),
            inset 0px 98px 100px -48px rgba(var(--ion-color-tertiary-rgb), 0.3),
            inset 0px 4px 18px 0px rgba(var(--ion-color-tertiary-rgb), 0.3),
            inset 0px 1px 40px 0px rgba(var(--ion-color-tertiary-rgb), 0.2);

        --glass-light: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
            inset 0px 1px 4px 0px rgba(var(--ion-color-light-rgb), 0.3),
            inset 0px -82px 68px -64px rgba(var(--ion-color-light-rgb), 0.3),
            inset 0px 98px 100px -48px rgba(var(--ion-color-light-rgb), 0.3),
            inset 0px 4px 18px 0px rgba(var(--ion-color-light-rgb), 0.3),
            inset 0px 1px 40px 0px rgba(var(--ion-color-light-rgb), 0.2);

        --glass-input-primary: inset 0px -4px 4px 0px rgba(var(--ion-color-primary-rgb), 0.1),
            inset 0px 82px 68px -64px rgba(var(--ion-color-primary-rgb), 0.1),
            inset 0px -98px 100px -48px rgba(var(--ion-color-primary-rgb), 0.1),
            inset 0px -4px 18px 0px rgba(var(--ion-color-primary-rgb), 0.1),
            inset 0px -1px 40px 0px rgba(var(--ion-color-primary-rgb), 0.05);

        --glass-input-secondary: inset 0px -4px 4px 0px rgba(var(--ion-color-secondary-rgb), 0.1),
            inset 0px 82px 68px -64px rgba(var(--ion-color-secondary-rgb), 0.1),
            inset 0px -98px 100px -48px rgba(var(--ion-color-secondary-rgb), 0.1),
            inset 0px -4px 18px 0px rgba(var(--ion-color-secondary-rgb), 0.1),
            inset 0px -1px 40px 0px rgba(var(--ion-color-secondary-rgb), 0.05);

        --glass-input-tertiary: inset 0px -4px 4px 0px rgba(var(--ion-color-tertiary-rgb), 0.1),
            inset 0px 82px 68px -64px rgba(var(--ion-color-tertiary-rgb), 0.1),
            inset 0px -98px 100px -48px rgba(var(--ion-color-tertiary-rgb), 0.1),
            inset 0px -4px 18px 0px rgba(var(--ion-color-tertiary-rgb), 0.1),
            inset 0px -1px 40px 0px rgba(var(--ion-color-tertiary-rgb), 0.05);

        --glass-input-light: inset 0px -4px 4px 0px rgba(var(--ion-color-light-rgb), 0.1),
            inset 0px 82px 68px -64px rgba(var(--ion-color-light-rgb), 0.1),
            inset 0px -98px 100px -48px rgba(var(--ion-color-light-rgb), 0.1),
            inset 0px -4px 18px 0px rgba(var(--ion-color-light-rgb), 0.1),
            inset 0px -1px 40px 0px rgba(var(--ion-color-light-rgb), 0.05);

        /** Neon Effects **/
        --neon-primary: 0px 0px 18px rgba(var(--ion-color-primary-rgb), 0.4),
            0px 0px 70px rgba(var(--ion-color-primary-rgb), 0.4);
        --neon-primary-inset: inset 0px 0px 7px
            rgba(var(--ion-color-primary-rgb), 0.4);

        --neon-secondary: 0px 0px 18px rgba(var(--ion-color-secondary-rgb), 0.4),
            0px 0px 70px rgba(var(--ion-color-secondary-rgb), 0.4);
        --neon-secondary-inset: inset 0px 0px 7px
            rgba(var(--ion-color-secondary-rgb), 0.4);

        --neon-tertiary: 0px 0px 18px rgba(var(--ion-color-tertiary-rgb), 0.4),
            0px 0px 70px rgba(var(--ion-color-tertiary-rgb), 0.4);
        --neon-tertiary-inset: inset 0px 0px 7px
            rgba(var(--ion-color-tertiary-rgb), 0.4);
    }

    /*
   * iOS Dark Theme
   * -------------------------------------------
   */

    .ios body {
        --ion-background-color: rgba(53, 52, 58, 1);
        --ion-background-color-rgb: 53, 52, 58;

        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;

        --ion-color-step-50: #0d0d0d;
        --ion-color-step-100: #1a1a1a;
        --ion-color-step-150: #262626;
        --ion-color-step-200: #333333;
        --ion-color-step-250: #404040;
        --ion-color-step-300: #4d4d4d;
        --ion-color-step-350: #595959;
        --ion-color-step-400: #666666;
        --ion-color-step-450: #737373;
        --ion-color-step-500: #808080;
        --ion-color-step-550: #8c8c8c;
        --ion-color-step-600: #999999;
        --ion-color-step-650: #a6a6a6;
        --ion-color-step-700: #b3b3b3;
        --ion-color-step-750: #bfbfbf;
        --ion-color-step-800: #cccccc;
        --ion-color-step-850: #d9d9d9;
        --ion-color-step-900: #e6e6e6;
        --ion-color-step-950: #f2f2f2;

        --ion-item-background: #000000;

        --ion-card-background: #1c1c1d;
    }

    .ios ion-modal {
        --ion-background-color: var(--ion-color-dark);
        --ion-toolbar-background: var(--ion-color-dark);
        --ion-toolbar-border-color: var(--ion-color-dark);
    }

    /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

    .md body {
        --ion-background-color: rgba(53, 52, 58, 1);
        --ion-background-color-rgb: 53, 52, 58;

        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;

        --ion-border-color: transparent;

        --ion-color-step-50: #1e1e1e;
        --ion-color-step-100: #2a2a2a;
        --ion-color-step-150: #363636;
        --ion-color-step-200: #414141;
        --ion-color-step-250: #4d4d4d;
        --ion-color-step-300: #595959;
        --ion-color-step-350: #656565;
        --ion-color-step-400: #717171;
        --ion-color-step-450: #7d7d7d;
        --ion-color-step-500: #898989;
        --ion-color-step-550: #949494;
        --ion-color-step-600: #a0a0a0;
        --ion-color-step-650: #acacac;
        --ion-color-step-700: #b8b8b8;
        --ion-color-step-750: #c4c4c4;
        --ion-color-step-800: #d0d0d0;
        --ion-color-step-850: #dbdbdb;
        --ion-color-step-900: #e7e7e7;
        --ion-color-step-950: #f3f3f3;

        --ion-item-background: #1e1e1e;

        --ion-toolbar-background: var(--ion-color-dark);
        --ion-toolbar-border-color: var(--ion-color-dark);

        --ion-tab-bar-background: #1f1f1f;

        --ion-card-background: #1e1e1e;
    }
}
