.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 6vh;
    transform: translateY(6vh);
    /* height: 78vh; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(40vh, auto);
    overflow: hidden;
    padding: 2rem;
}
/*
.ellipse-stock {
    min-width: 300px;
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ellipse-stock-aspect-ratio {
    padding-top: 100%;
}

.ellipse-stock-content {
    margin-top: -50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
} */

.col-1-2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: left;
}

.col-1-2 .company-name {
    padding-left: 2rem;
}

.col-1-2 .company-symbol {
    font-weight: 400 !important;
}

.col-3 {
    grid-column: 3 / 3;
}

.ellipse-prediction {
    grid-row: 1 / 1;
    width: 300px;
    height: 300px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ellipse-prediction h4 {
    max-width: 200px;
    margin: 0 auto;
}

.pill {
    width: 100px;
    /* padding: 0.5rem; */
    border-radius: 50px;
    margin: 20px auto;
}

.card-stock {
    margin-top: 20px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.card-stock img {
    margin-right: 0.5rem;
}

.chart {
    width: 100%;
    min-height: 29vh;
    margin-top: 0.5rem;
    border-radius: 20px;
}


@media (min-width: 900px) {
    .card-stock {
        border-radius: 40px;
    }
    /* .ellipse-stock {
        margin-top: -5%;
        margin-left: calc(15% / 2);
    }

    .ellipse-stock-content {
        margin-top: -20%;
        text-align: center;
        max-width: 200px;
    }
    .ellipse-stock-content span {
         max-width: 150px;
        font-size: 22px;
        text-align: center;
    }*/
}

@media (max-width: 900px) {
    /* .ellipse-stock {
        margin-left: calc(10% / 2);
    } */
}
