.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 11vh;
    transform: translateY(11vh);
    height: 78vh;
}

.ellipse-stock {
    min-width: 300px;
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ellipse-stock-aspect-ratio {
    padding-top: 100%;
}

.ellipse-stock-content {
    margin-top: -50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.card-stock {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -45%;
}

.chart {
    width: 100%;
    min-height: 29vh;
    margin-top: 0.5rem;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .ellipse-stock {
        margin-left: calc(10% / 2);
    }
}
